body {
  margin: 0;
}

#map {
  height: calc(100vh - 50px);
  width: 100%;
}

.marker {
  background-image: url('icon.svg');
  background-size: cover;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#controls {
  padding-left: 10px;
  height: 50px;
  width: 100%;
}

#controls select {
  margin-top: 15px;
  margin-right: 10px;
  display: inline-block;
}